# Префикс работы: имя и фамилия латиницей. Входит в имя проекта, базы и схемы.
PREFIX=aleksandr_alekseenko

APP_PORT=8081
DB_PORT=55432

POSTGRES_USER=library
POSTGRES_PASSWORD=changeme

SECRET_KEY=changeme
